header {
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 1000;
    nav {
        .nav-title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 80px;
            padding: 50px;
            background-color: #ffd5a2;
            .title {
                a {
                    text-decoration: none;
                    font-size: 22px;
                    font-weight: 700;
                    
                    color: black;
                }
            } 
            .burger {
                transform: scale(2);
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                position: absolute;
                right: 5%;
            }
        }
        .nav-links {
            // position: relative;
            transform-origin: top;
            transform: scaleY(0);
            opacity: 0;
            transition: all 1s ease-in-out;
            height: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background-color: #fff5e9;
            &.active {
                transform: scaleY(1);
                opacity: 1;
                height: 98vh;
                padding: 50px;
            }
            ul {
                list-style-type: none;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding: 0;
                margin: 0;

                li {
                    width: 100%;
                    text-align: center;
                    a {
                        font-size: 64px;
                        text-decoration: none;
                        transition: all 0.2s ease-in-out;
                        &:hover {
                            text-shadow: 0px 0px 20px $color-shadow-text-menu ;
                            color: black;
                        }
                    }
                    &::before,
                    &::after {
                        position: absolute;
                    }
                    &:nth-child(2) {
                        &::before {
                            content: url("../img/menu/cat.png");
                            // transform: scale(2.8);
                            top: 200px;
                            left: 250px;
                            animation: titleMoov 5s infinite linear both;
                        }
                        &::after {
                            content: url("../img/menu/Sunflower.png");
                            right: 150px;
                            top: 120px;
                            animation : rotate 12s linear infinite both;
                        }
                    }
                    &:nth-child(3) {
                        &::before {
                            content: url("../img/menu/orchid.png");
                            left: 0;
                            top: 80px;
                            animation : rotate 12s linear infinite both;

                        }
                        &::after {
                            content: url("../img/menu/random_flower.png");
                            right: 0;
                            top: 400px;
                            animation :rotate 12s linear infinite both, toShrink 1s;
                            border: 2px solid red;
                        }
                    }
                    &:nth-child(4) {
                        &::before {
                            content: url("../img/menu/Flower.png");
                            left:180px;
                            animation : rotate 12s linear infinite both;
                        }
                        &::after {
                            content: url("../img/menu/Group\ 180.png");
                            right: 200px;
                            top: 450px;
                            transform: scale(.7);
                        }
                    }
                    &:nth-child(5) {
                        &::before {
                            content: url("../img/menu/cat-2.png");
                            left: 0;
                            top: 66%;
                        }
                        &::after {
                            content: url("../img/hibiscus_footer.png");
                            right: 0;
                            transform: translate(50%, 50%);
                            bottom: 0;
                            
                        }
                    }
                }
            }
        }
    }
}