header {
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 1000;
    nav {
        .nav-title {
            @include flexbox;
            width: 100%;
            padding: 20px;
            background-color: $color-navbar;
            .title {
                a {
                    text-decoration: none;
                    font-size: 22px;
                    font-weight: 700;
                    color: black;
                }
            }
            .burger {
                transform: scale(2);
                cursor: pointer;
                transition: all 3s ease-in-out;
                position: absolute;
                right: 8%;
            }
        }
        .nav-links {
            transform-origin: top;
            transform: scaleY(0);
            opacity: 0;
            transition: all 1s ease-in-out;
            height: 0;
            @include flexbox(column, space-between);
            width: 100%;
            background-color: $color-menu-fullscreen;
            overflow: hidden;
            &.activeMenu {
                transform: scaleY(1);
                opacity: 1;
                height: 97vh;
                padding: 50px 0 100px;
                overflow: hidden;
                &::after {
                    content: url("../img/menu/hibiscus_footer.png");
                    position: absolute;
                    bottom: -24em;
                    right: -24em;
                    animation: rotate 12s linear infinite both;
                }
            }
            ul {
                list-style-type: none;
                text-align: center;
                @include flexbox(column, flex-start);
                gap: 30px;
                @include reset-margin-padding;
                width: 100%;
                height: 100%;
                li {
                    width: 100%;
                    text-align: center;
                    position: relative;
                    a {
                        font-size: 64px;
                        text-decoration: none;
                        transition: all 0.2s ease-in-out;
                        &:hover {
                            text-shadow: 0px 0px 20px $color-shadow-text-menu;
                            color: black;
                        }
                    }
                    &::before,
                    &::after {
                        position: absolute;
                    }
                    &:nth-child(2) {
                        &::before {
                            content: url("../img/menu/cat.png");
                            top: -4em;
                            left: 20em;
                            animation: titleMoov 5s infinite linear both;
                        }
                        &::after {
                            content: url("../img/menu/Sunflower.png");
                            top: -8em;
                            right: 14em;
                            animation: rotate 12s linear infinite both;
                        }
                    }
                    &:nth-child(3) {
                        &::before {
                            content: url("../img/menu/orchid.png");
                            top: -20em;
                            left: -4em;
                            animation: rotate 12s linear infinite both;
                        }
                        &::after {
                            content: url("../img/menu/random_flower.png");
                            top: 3em;
                            right: -2.5em;
                            animation: rotate 12s linear infinite both;
                            height: 75px;
                            width: 75px;
                        }
                    }
                    &:nth-child(4) {
                        &::before {
                            content: url("../img/menu/Flower.png");
                            top: -2em;
                            left: 15em;
                            animation: rotate 12s linear infinite both;
                        }
                        &::after {
                            content: url("../img/menu/Group\ 180.png");
                            top: -2em;
                            right: 15em;
                            animation: titleMoov 5s 0.3s infinite linear both;
                        }
                    }
                    &:nth-child(5) {
                        &::before {
                            content: url("../img/menu/cat-2.png");
                            top: 10em;
                            left: 5em;
                            animation: titleMoov 5s 1s infinite linear both;
                        }
                    }
                }
            }
        }
    }
}
