/**************** RESPONSIVE *******************/

@media all and (max-width: $breakpoint-mobile) {
    #page {
        header {
            nav {
                a {
                    font-size: 18px;
                }
                .nav-title {
                    flex-direction: column;
                    .title {
                        text-align: center;
                    }
                    .burger {
                        position: static;
                    }
                }
                ::after,
                ::before {
                    animation: none;
                    z-index: -1;
                    transform: scale(.5);
                }
                .nav-links {
                    &.activeMenu {
                        height: 92vh;
                    }
                    li {
                        position: relative;
                        &::before, &::after {
                            position: absolute;
                        }
                        &:nth-child(1) {
                            transform: scale(.8);
                        }
                        &:nth-child(2) {
                            &::before {
                                top: -4em;
                                left: 1em;
                            }
                            &::after {
                                top: -10em;
                                right: -2em;
                                transform: scale(.5);
                            }
                        }
                        &:nth-child(3) {
                            &::before {
                                top: -18em;
                                left: -5em;
                            }
                            &::after {
                                top: 0;
                                right: -3em;
                            }
                        }
                        &:nth-child(4) {
                            &::before {
                                top: 0;
                                left: 0;
                            }
                            &::after {
                                top: -4em;
                                right: -1em;
                            }
                        }
                        &:nth-child(5) {
                            &::before {
                                top: 3em;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
        .site-main {
            max-width: 100vw;
            overflow: hidden;
            .banner {
                background-position: center center;
                min-height: 50vh;
                .logo {
                    img {
                        height: 248px;
                        width: 360px;
                        animation: none;
                    }
                }
                .video {
                    display: none;
                }
            }
            #story {
                margin-bottom: -100px;
                .story__article {
                    text-align: justify;
                    font-size: 16px;
                    margin-bottom: -100px;
                }
            }
            #characters {
                height: fit-content;
                margin: 0;
                padding-top: 100px;

                h3 {
                    margin: 0;
                    height: fit-content;
                }
                .list-characters {
                    .swiper-slide {
                        height: auto;
                        min-width: 38%;
                        figure {
                            @include flexbox(column, space-between);
                            gap: 20px;
                        }
                    }
                }
            }
            #place {
                justify-content: center;
                align-items: center;
                div {
                    @include flexbox;
                    @include reset-margin-padding;
                    width: 100%;
                    h3 {
                        margin: 0;
                        height: fit-content;
                        display: flex;
                        justify-content: center;
                    }
                    //je vise l'enfant direct de la div pour éviter les balises du titre
                    & > p {
                        width: 100%;
                        padding: 0 40px;
                    }
                }
            }
            #studio {
                padding-top: 100px;
                margin-bottom: 50px;
                div {
                    margin: 0;
                    width: 100%;
                    p {
                        width: 100%;
                        padding: 0 40px;
                        text-align: justify;
                    }
                }
            }
            #nomination {
                @include reset-margin-padding;
                position: relative;
                &::before {
                    content: url("");
                }
                &::after {
                    content: url("");
                }
                .nomination-container {
                    flex-direction: column;
                    height: fit-content;
                    width: 100%;
                    margin: 0;
                    gap: 50px;
                    .text {
                        width: 100%;
                        font-size: 16px;
                        padding: 20px 0;
                        text-align: center;
                    }
                    img {
                        @include reset-margin-padding;
                    }
                }
            }
        }
    }

    .site-footer {
        height: fit-content;
        padding: 10px 0;
        ul {
            position: relative;
            transform-origin: center;
            @include flexbox(column);
            &::after {
                content: url("../img/hibiscus_footer.png");
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                animation: none;
                height: fit-content;
                width: fit-content;
            }
        }
    }
}
